<% provide(:title, "About") %>

<h1>About</h1>
<p>
  The <%= link_to "Squat Ranker", root_path %> is a prototype to measure strength objectively.  Compare your results with friends or an open arena.
</p>
<p>
	Win prizes, gain recognition, and push yourself to the next level.
</p>
