<% provide(:title, "Train") %>

<h1>Train</h1>
<p>
	Find out how Steve doubled his squat PR without using protein.  Train with the mastermind behind <a href="http://www.railstutorial.org/#help">The Brilliant Beast</a> mastermind: Steve Ko.  
  
</p>
